<div class="row">
  <div class="col-md-6" id="containerDiv">
    <form [formGroup]="userForm">
      <div class="form-group mb-4">
        <label for="rendszam">Felhasználónév</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          placeholder="user1"
        />
        <div class="text-danger" *ngIf="f['username'].invalid">
          <small *ngIf="f['username'].errors"
            >A felhasználónév nem megfelelő vagy már létezik az
            adatbázisban!</small
          >
        </div>
      </div>

      <div class="form-group mb-4">
        <label for="tipus">Jelszó</label>
        <input
          type="text"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="user123"
        />
        <div class="text-danger" *ngIf="f['password'].invalid">
          <small *ngIf="f['password'].errors">A jelszó túl rövid!</small>
        </div>
      </div>

      <button
        class="btn btn-primary"
        (click)="addOrModifyUser()"
        [disabled]="userForm.invalid"
      >
        Mentés
      </button>
    </form>
  </div>
</div>
